{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{%  static  'css/style.css'  %}">
    <title>forms</title>
</head>
<body>
<h1> submission form <h1/>
    <div class="container">
    
    <form action="" method="post">
        {% csrf_token %}
        <label for="fname">fname:</label>
        <input type="text" value="{{currentname}}" name="fname">
        <label for="lname">lname</label>
        <input type="text" name="lname">
        <label for="youremail">youremail</label>
        <input type="email" name="email" >
        
        <button>submit</button>
    </form>
</div>
</body>
</html>